In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
fish = pd.read_csv('Fish.csv')

In [3]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
fish.shape

(159, 7)

In [5]:
fish.isna().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [6]:
fish.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [7]:
for col in fish.columns:
    le = LabelEncoder()
    if fish[col].dtype == 'object':
        fish[col] = le.fit_transform(fish[col])

In [8]:
fish.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0        0   242.0     23.2     25.4     30.0  11.5200  4.0200
1        0   290.0     24.0     26.3     31.2  12.4800  4.3056
2        0   340.0     23.9     26.5     31.1  12.3778  4.6961
3        0   363.0     26.3     29.0     33.5  12.7300  4.4555
4        0   430.0     26.5     29.0     34.0  12.4440  5.1340

In [9]:
fish_cols = ['Weight',
             'Length1',
             'Length2',
             'Length3',
             'Height',
             'Width'    
]

In [10]:
#Standard Scalar
scaler = StandardScaler()

fish[fish_cols] = scaler.fit_transform(fish[fish_cols].values)

In [11]:
fish.head()

   Species    Weight   Length1   Length2   Length3    Height     Width
0        0 -0.438072 -0.305789 -0.282303 -0.106020  0.596579 -0.236529
1        0 -0.303562 -0.225507 -0.198054 -0.002337  0.821261 -0.066579
2        0 -0.163448 -0.235542 -0.179332 -0.010977  0.797341  0.165793
3        0 -0.098995  0.005302  0.054694  0.196390  0.879771  0.022621
4        0  0.088759  0.025372  0.054694  0.239592  0.812835  0.426371

In [12]:
x = fish.drop(['Weight'], axis = 1)
y = fish['Weight']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [14]:
linearmodel = LinearRegression()
linearmodel.fit(x_train, y_train)
linearmodel.score(x_test, y_test)

0.8854038212498818